.text-right {
  text-align: right;
}
small {
  font-size: 12px;
}
.btn-row {
  cursor: pointer;
}
.table-hover-custom td {
  padding: .5rem;
}
tr.table-hover-custom:hover {
  --bs-table-accent-bg: none;
}
table.table-borderless tr:hover {
  background-color: var(--bs-table-hover-bg);
}
