@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    background-image: url('../img/servicem-logo.png');
    background-size: cover;
}
.breadcrumb {
    margin-bottom: 0 !important;
}
.breadcrumb-item.active {
    color: unset !important;
}

#nprogress .bar {
    display: none;
}
